{% extends 'base.html' %}

{%block title%}Experimenty{%endblock%}

{% block obsah %}

<h1>Proslulé experimenty Alberta Bandury</h1>
<h3>Bobo Doll Experiment</h3>
<p>He conducted a controversial experiment examining the process by which new forms of behavior - and in particular, aggression - are learnt.
 The initial study, along with Bandura’s follow-up research, would later be known as the Bobo doll experiment.
 The experiment revealed that children imitate the aggressive behavior of adults.
 The findings support Bandura’s social learning theory, which emphasises the influence of observational learning on behavior.</p>



{% endblock obsah %}
